body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
} 


.main-background {
    width: 100%;
    height: 110px;
    background-color: #ffff;
    position: relative;
    display: block;
}

.main-top .main-sun {
    margin-top: 49px;
    position: absolute;
    margin-left: 16px;
}

.main-top .main-sun .local {
    position: relative;
    margin-top: -38px;
    margin-left: 40px;
    font-size: 12px;
}

.main-top .main-sun .date {
    position: relative;
    font-size: 11px;
    margin-top: -10px;
    margin-left: 39px;
    color: #bbbbbb;
}

.main-top .logo {
    position: absolute;
    margin-top: 45px;
    margin-left: 580px;
}

.main-top .media .facebook {
    position: absolute;
    margin-top: 45px;
    margin-left: 1210px;
    
} 

.main-top .media .twitter {
    position: absolute;
    margin-top: 46px;
    margin-left: 1255px;
}

.main-top .media .instagram {
    position: absolute;
    margin-top: 46px;
    margin-left: 1300px;
}

.line-rectangular {
    border: 1.5px solid #E8E6E6;
    width: 99.8%;
    position: absolute;
    margin-top: -10px;
}

.main-menu {
    height: 50px;
    background-color: #ffff;
    position: absolute;
    width: 100%;
}

.main-menu .novelties {
  margin-top: 15px;
  margin-left: 64px;
  font-size: 16px;
  position: absolute;
}

.main-menu .recent {
    margin-top: 15px;
    margin-left: 204px;
    font-size: 16px;
    position: absolute;
}

.main-menu .trends {
    margin-top: 15px;
    margin-left: 344px;
    font-size: 16px;
    position: absolute;
}

.main-menu .most-acessed {
    margin-top: 15px;
    margin-left: 492px;
    font-size: 16px;
    position: absolute;
}

.main-menu .for-you {
    margin-top: 15px;
    margin-left: 696px;
    font-size: 16px;
    position: absolute;
}

.main-menu .searchbar {
    margin-top: 15px;
    margin-left: 992px;
}