#adicao-body {
  background-color: var(--cor-cinza);
}

.container-secundario {
  display: flex;
  align-items: flex-start;
}

.lado-esquerdo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lado-direito {
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-container {
  display: grid;
  grid-gap: 10px;
}

.input-container input {
  width: 396px;
  height: 52px;
  border-radius: 50px;
  border: none;
  background-color: var(--cor-cinza3);
  color: var(--cor-branca2);
  font-size: 20px;
  text-align: center;
}

.container-imagem {
  display: flex;
  align-items: center;
}

.opcoes-container {
  margin-top: 20px;
  display: inline-flex;
  gap: 10px;
}

.aviso {
  color: red;
  font-size: 18px;
  margin-top: 5px;
  text-align: center;
}