#nome-nav {
    text-transform: none;
    margin-top: 13px;
}



.header-principal {    
    gap: 30px;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: inline-flex;
}

.header-principal a {
    padding: 16px 0px;
    position: relative;
    color: var(--cor-branca);
    display: inline-block;
}

.header-principal a:hover{
    color: var(--cor-amarela);
}

#account {
    font-size: 40px;
}

@media (max-width:332px) {
    .header-principal {
        justify-content: center;
    }
    #account {
        margin-top: -20px;
    }
}

.conteudo-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 120px;
    gap: 50px;
    text-transform: uppercase;
}

.conteudo-secundario-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 50px;
    text-transform: uppercase;
    margin-bottom: 120px;
}

.conteudo-imagem span{
    font-size: 80px;
}



.conteudo-amarelo {
    width: 350px; 
    height: 200px;
    border-radius: 50px; 
    background-color: var(--cor-amarela);
    text-align: center;
    position: relative;
  }
.conteudo-amarelo a {
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    text-decoration: none; 
    color: inherit; 
  }
  
  .conteudo-amarelo:hover {
    background-color: var(--cor-amarela2);
    color: var(--cor-branca);
}

  .conteudo-preto {
    width: 350px; 
    height: 200px;
    border-radius: 50px; 
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    text-align: center;
    position: relative;
  }

  .conteudo-preto a {
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    text-decoration: none; 
    color: inherit;
  }
  
  .conteudo-preto:hover {
    background-color: var(--cor-preta2);
    color: var(--cor-cinza);
}
.conteudo-imagem {
    margin-top: 40px;
}

.conteudo-texto {
    margin-top: -20px;
}

@media (max-width:800px) {
    .conteudo-menu {
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
    }
    .conteudo-secundario-menu {
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
    }
}

@media (max-width:600px) {
    .conteudo-principal {
        margin-top: 5px;
    }
    .conteudo-amarelo {
        width: 300px;
        height: 150px;
        border-radius: 25px;
    }
    .conteudo-menu {
        margin-top: 60px;
    }
    .conteudo-menu span {
        font-size: 60px;
    }
    .conteudo-menu h1 {
        font-size: 24px;
    }
    .conteudo-preto {
        width: 300px;
        height: 150px;
        border-radius: 25px;
    }
    .conteudo-secundario-menu {
        margin-bottom: 60px;
    }
    .conteudo-secundario-menu span {
        font-size: 60px;
    }
    .conteudo-secundario-menu h1 {
        font-size: 24px;
    }
}


