.mid-content {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.mid-content .mid-login {
    text-align: center;
    margin-top: 120px;
    margin-left: 40px;
    display: inline-block;
}


.mid-login .login-box input {
    margin-top: 70px;
    margin-left: 38px;
    text-align: center;
    padding: 20px 102px;
    border: solid 1px var(--cor-cinza2);
    border-radius: 50px;
    background-color: var(--cor-cinza2);
    display: block;
    position: relative;
}

.mid-login .login-box a {
    margin: 0 auto;
}

#senha {
    margin-top: 30px;
}



.login-buttons {
    margin-top: 20px;
    gap: 40px;
    display: inline-flex; 
}
#entrar, #cadastro {
    padding: 10px 25px;
    border-radius: 15px;
    background-color: var(--cor-amarela);
    border: solid 1px var(--cor-cinza2);
    color: var(--cor-marrom);
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
}
#entrar:hover,
#cadastro:hover {
    background-color: var(--cor-amarela2);
    color: var(--cor-branca);
}


@media (max-width:800px) {
    .mid-content img {
        display: none;
    }
    .mid-content {
        grid-template-columns: 1fr;
    }
    .mid-content input {
        display: block;
    }
}


@media (max-width:320px) {
    .mid-content img{
        display: none;
    }
    .mid-content .mid-login {
        margin-top: 0px;
        margin-left: 0px;
        display: inline-block;
    }
    .mid-content h1 {
        margin-top: 0px;
        margin-right: 10px;
    }
    .mid-login .login-box input {
       padding: 10px 52px;
       margin-left: 5px;
    }
    .login-buttons {
        margin-top: 10px;
        gap: 20px;
        display: inline-flex; 
    }
}