.mid-content {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.mid-content .mid-login {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-left: 20px;
    display: inline-block;
}

.mid-login h1 {
    margin-right: 50px;
}

.mid-login .login-box input {
    margin-top: 70px;
    margin-left: 38px;
    text-align: center;
    padding: 20px 102px;
    border: solid 1px var(--cor-cinza2);
    border-radius: 50px;
    background-color: var(--cor-cinza2);
    display: block;
    position: relative;
}

.mid-login .login-box a {
    margin: 0 auto;
}

#senha {
    margin-top: 30px;
}



.login-buttons {
    margin-top: 20px;
    margin-right: 30px;
    gap: 40px;
    display: inline-flex; 
}
#entrar, #cadastro {
    padding: 10px 25px;
    border-radius: 15px;
    background-color: var(--cor-amarela);
    border: solid 1px var(--cor-cinza2);
    color: var(--cor-marrom);
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
}
#entrar:hover,
#cadastro:hover {
    background-color: var(--cor-amarela2);
    color: var(--cor-branca);
}


@media (max-width:1100px) {
    .mid-content {
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 5px;
        padding-bottom: 80px;
    }
    .mid-content .login-buttons {
        gap: 15px;
        margin-left: 65px;
        display: inline-flex; 
    }
    .mid-content h1 {
        margin-left: 80px;
    }
    .mid-content img {
        display: none;
    }
}
   
@media (max-width:460px) {
    .mid-content h1{
        font-size: 2.5rem;
    }
    .mid-content .login-box input {
        margin-top: 20px;
        padding: 10px 25px;
        display: inline-flex; 
    }
    .mid-content .login-box #senha {
        margin-top: -20px;
    }
    #entrar, #cadastro {
        padding: 8px 16px;
        display: inline-flex; 
    }
}

